<!DOCTYPE html>
<html>
    <head>
        <link href="main.css" rel="stylesheet">
    </head>
    <body>
        
            <%- include('./partials/nav.ejs')  %> 
            

            <div class="wrapper">
                <% if(data.errMsg != null) { %>
                    <form action="/sign-in" method="POST">
                        <div class="input-container">
                            <input placeholder="Username" name = 'username' required='true' data-error = <%= data.errMsg  %> >
                        </div>
                        <div class="input-container">
                            <input placeholder="Password" name = 'password' required='true'>
                        </div>
                        
                        <button type="submit">Sumbit</button>
                    </form>
    
                    
        
                <% }else{ %>
                    
                    <form action="/sign-in" method="POST">
                        <div class="input-container">
                            <input placeholder="Username" name = 'username' required='true' >
                        </div>
                        <div class="input-container">
                            <input placeholder="Password" name = 'password' required='true'>
                        </div>
                        
                        <button type="submit">Sumbit</button>
                    </form>
    
                <% } %> 
            </div>
            
            
        
        
        <script>
            // const test = document.getElementById('search-bar');

            
        </script>
    </body>
</html>